@import '~antd/dist/antd.css';

.menu {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    background-color: white;
  }

.menu__logo {
    width: 150px;
    float: left;
  }

.menu__logo a {
    display: inline-block;
    font-size: 20px;
    padding: 15px 20px;
  }
  
.menu__container .ant-menu-item {
    padding: 10px 15px;
  }

.menu__container .ant-menu-horizontal {
    border-bottom: none;
  }

.menu__container .menu_right {
    float: right;
  }

.menu__mobile-button {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important;
    background: #3e91f7;
  }

/*Drawer (모바일)*/
.ant-drawer-content-wrapper {
    width: 100% !important;
  }
.menu_drawer .ant-drawer-header {
    padding: 14px 24px !important;
  }
.ant-drawer .ant-menu-inline {
    border-right: none;
  }

/*모바일 버전을 위한 Media Query */
@media (max-width: 414px) {
    .menu__mobile-button {
      display: inline-block !important;
    }
  
    .menu_left, .menu_right {
      display: none;
    }
  
    .menu__logo a {
      margin-left: -20px;
      padding: 10px 20px;
    }
}